<html>

    <head>

    </head>

    <body>
        <form action="/User/Login" method="post">
            <div class="mb-3">
                <label for="uname" class="form-label">Email address</label>
                <input type="text" class="form-control"  name=uname id="uname">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Password</label>
                <input type="password" class="form-control" name="pwd" id="pwd">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </body>
</html>