
<html>
    <head>

    </head>

    <body>
        <form action="/User/RegisterUser" method="post">
            <div class="mb-3">
                <label for="fullname" class="form-label">Enter Fullname</label>
                <input type="text" class="form-control"  name=fullname id="fullname">
            </div>

            <div class="mb-3">
                <label for="uname" class="form-label">Enter User Name</label>
                <input type="text" class="form-control" name="uname" id="uname">
            </div>
            
            <div class="mb-3">
                <label for="pwd" class="form-label">Create Password</label>
                <input type="password" class="form-control" name="pwd" id="pwd">
            </div>

            
            <div class="mb-3">
                <label for="repwd" class="form-label">Re-Enter Password</label>
                <input type="password" class="form-control" name="repwd" id="repwd">
            </div>
            
            <div class="mb-3">
                <label for="mobile" class="form-label">Mobile</label>
                <input type="text" class="form-control" name="mobile" id="mobile">
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </body>
</html>